@import "variables"
body
    font-family: 'Roboto', sans-serif
    padding: 0
    margin: 0

html, body
    overflow-x: hidden

.bg-light
    background-color: #fcfcfc

.container
    max-width: 1400px

section
    padding: 135px 0
    position: relative

.bg-main
    background-color: $main

.z-1
    z-index: 1

.f-18
    font-size: 18px

.c-main
    color: $main

.btn-main
    font-weight: 500
    color: white
    background-color: $main
    border-radius: 100px
    padding: 20px 40px
    line-height: 1
    outline: none !important
    cursor: pointer
    border: 0
    transition: all .2s
    &:active
        transform: translateY(-1px)
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2)
    &:hover
        transform: translateY(-3px) scale(1.04)
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2)
    &--inverse
        background-color: white
        color: $main
    &--yellow
        background-color: $yellow
        color: #353432
        font-weight: bold
    &--blue
        background-color: $blue
    &--grey
        background-color: rgb(170,170,170)

@keyframes moveInBottom
    0%
        opacity: 0
        transform: translateY(30px)
    100%
        opacity: 1
        transform: translateY(0px)

.box
    width: 54px
    height: 3px
    &-grey
        background-color: #e9eaef

.page, .page-content
    position: relative

.page-content
    overflow: hidden

.container
    position: relative
    z-index: 1

.title
    font-size: 54px
    color: $secondary
    font-weight: 900
    line-height: .89
    position: relative
    text-transform: uppercase
    margin-bottom: 110px
    .f-18
        font-weight: 600
    span
        position: relative
        z-index: 1
    &::after
        position: absolute
        content: ''
        width: 465px
        height: 15px
        background-color: $yellow
        left: 50%
        top: 50%
        transform: translate(-50%,calc(-50% - 9px))

.pagination
    line-height: 1.5
    opacity: .7
    letter-spacing: 1.6px
    color: rgba(38, 37, 35, 0.7)
    display: block
    margin-bottom: 70px
    text-align: center
    span
        margin: 0 5px
        cursor: pointer
        text-decoration: underline
        transition: .3s
        line-height: 18px
        >span:hover
            line-height: 18px
            font-weight: bold
            font-size: 17px
            text-decoration: none
        &:first-child,
        &:last-child
            text-decoration: none
        &.active
            font-weight: bold
            text-decoration: none

.my-circle
    height: 350px
    width: 350px
    border: solid 74px #e9eaef
    border-radius: 100%
    position: absolute

.transparent
    color: transparent

.switch
    position: relative
    display: inline-block
    width: 70px
    height: 31px
    border-radius: 15.4px
    border: solid 1px #d4f2ff
    background-color: #ffffff
    input
        opacity: 0
        width: 0
        height: 0
        outline: none !important
    .slider
        position: absolute
        cursor: pointer
        top: 0
        left: 0
        right: 0
        bottom: 0
        background-color: white
        transition: .4s
        &:before
            position: absolute
            content: ""
            height: 31px
            width: 31px
            left: 4px
            bottom: -1px
            background-color: $blue
            transition: .4s
    input:checked + .slider
        background-color: white
    input:focus + .slider
        outline: none !important
    input:checked + .slider:before
        transform: translateX(26px)
    .slider.round
        border-radius: 34px
    .slider.round:before
        border-radius: 50%


.page-header
    min-height: 70vh
    padding-bottom: 10vh
    background-image: url("../assets/iBg.png")
    background-position: -10vw center
    //background-attachment: fixed
    background-size: cover
    background-repeat: no-repeat
    .head-menu
        margin-bottom: 180px
    .title
        &::after
            display: none
    .choice-left
        width: 1000px
    .choice-right
        padding-left: 30px
        width: calc(100% - 999px)


.page-main
    background: url("../assets/mainBg.png")
    min-height: 100vh
    background-size: cover
    background-position: center


.steps
    .my-circle
        left: -170px
        top: -170px
    .img-cont
        height: 100px
        margin-bottom: 40px
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        position: relative
    //border: 1px solid red
    img
        margin: 0 auto
        display: block
    .step
        text-align: center
        position: relative
        max-width: 20%
        width: 19%
        h4
            color: $main
            margin: 0
            font-weight: 500
        &:not(:last-child)
            &::after
                position: absolute
                right: 0
                top: 50px
                transform: translateX(50%)
                background-image: url("../assets/arrowLong.png")
                background-position: center
                background-repeat: no-repeat
                content: ''
                width: 90px
                height: 17px

.any-question
    overflow-y: hidden
    .box
        margin: 45px 0 30px
    .my-circle
        bottom: -170px
        right: -40px

.borrow-calculator
    overflow-y: hidden
    .title::after
        width: 320px
    .my-circle
        bottom: -170px
        right: -40px

.investment
    .my-circle
        top: -170px
        right: -40px
    h4
        font-size: 24px
        font-weight: bold
    p
        font-size: 16px
    .num
        font-weight: 900
        color: #f8f8f8
        font-size: 500px
        line-height: .8
    .col-md-4
        position: relative
        &:hover
            .num
                color: $yellow
    .content
        margin-bottom: 30px
        position: absolute
        left: 20%
        top: 70px
        p, h4
            padding-left: 40px



.page-main
    padding-bottom: 150px
    .w-1140
        max-width: 1140px !important
    .title
        margin-top: 8vh
        &::after
            display: none
    h4
        font-weight: 500
        font-size: 24px
    p
        font-size: 16px
        font-weight: normal
    .title-main
        display: block
        position: relative
        &::after
            position: absolute
            content: ''
            width: 465px
            height: 15px
            background-color: $yellow
            right: 0%
            bottom: 0%
            transform: translate(0%,-50%)
        &__core
            color: white
            font-size: 110px
            font-weight: 900
            text-align: center
            line-height: 1
            position: relative
            z-index: 1
        &__price
            position: relative
            z-index: 1
            font-size: 40px
            line-height: .6
            color: white
            font-weight: 900
    .head-menu
        margin-bottom: 10vh
    .dub-title
        font-size: 32px
        font-weight: bold
        text-align: center
        display: block
        color: white
        span
            display: block
            font-size: 18px
            font-weight: normal
    @media (max-width: 1400px)
        button
            margin-top: 10px !important
        .head-menu
            margin-bottom: 0
        .dub-title
            font-size: 24px
            margin-bottom: 20px !important
            span
                font-size: 13px
        h4
            font-size: 18px
        p
            font-size: 14px
        .title
            margin-bottom: 30px !important
            font-size: 24px
        .title-content
            width: 80%
            display: block
            margin: auto
        .title-main
            &__core
                font-size: 65px
            &__price
                font-size: 20px
            &::after
                width: 280px
                height: 7px
                transform: translate(0,-40%)
        .text-right
            font-size: 15px !important

.my-circle
    &--right-bottom
        bottom: -170px
        right: -40px
    &--right-top
        top: -260px
        right: 23%
    &--right-center
        top: calc(50% - 350px)
        right: 0
        transform: translateX(calc(100% - 130px))
    &--left-center
        top: calc(50% + 350px)
        left: 0
        transform: translateX(calc(-100% + 140px))

.page-borrower,
.page-investment
    .page-header
        .head-menu
            margin-bottom: 15vh
        @media (max-width: 1600px)
            background-position-x: 65%
            .choice-left
                width: 70%
        @media (max-width: 1366px)
            .title
                font-size: 35px

.admin-content
    padding: 0 75px
    width: 100%
    background-color: #fbfbfb

.my-border-bottom
    border-bottom: 1px solid rgba(135, 148, 178, .2)

.admin-title
    font-size: 24px
    font-weight: 500
    line-height: 0.92
    color: $main
    padding: 30px 0
    border-bottom: 1px solid rgba(135, 148, 178, .2)
    border-top: 1px solid rgba(135, 148, 178, .2)
    .btn-main, input
        font-size: 14px
    .search
        margin-top: 30px
        input
            border-radius: 9px
            border: solid 1px #d4f2ff
            padding: 15px 50px 15px 15px
            width: 350px
            outline: none
            margin-right: -60px

.admin-form
    padding: 40px 0
    .my-line
        border-bottom: 1px solid rgba(135, 148, 178, .2)
        display: block
        margin: 40px 0
    label
        font-size: 14px
        font-weight: 500
        line-height: 1.57
        color: #24262b
        display: block
    input, textarea, .tox-tinymce, .textarea
        border-radius: 9px
        border: solid 1px #d4f2ff
        background-color: #ffffff
        padding: 10px
        outline: none
        min-width: 450px
    .textarea
        text-align: left
        height: 250px
        overflow-y: auto
        padding-right: 15px
    h3
        font-size: 20px
        font-weight: 500
        line-height: 1.1
        color: #24262b
        margin-bottom: 40px

.langs
    font-size: 16px
    line-height: 1.38
    color: #565d6b
    font-weight: normal
    display: block
    padding-top: 12px
    transform: translateY(30%)
    cursor: pointer
    span
        position: relative
        //border: 1px solid red
        &:nth-child(2)
            padding: 0 20px
    .active
        font-weight: 500
        position: relative
        &::after
            position: absolute
            left: calc(50% - 3.5px)
            bottom: -22px
            content: ''
            width: 0
            height: 0
            border-left: 7px solid transparent
            border-right: 7px solid transparent
            border-bottom: 7px solid #3e4043

.preview-container
    margin: 15px 0 30px !important
    .btn
        display: none !important
    .picture-preview
        background-color: white !important
        border-radius: 2.2px !important
    .picture-inner
        border: 2px dashed $blue !important
        width: 100% !important
        top: -174px !important
        height: 100% !important
        border-radius: 2.2px !important
    .picture-inner-text
        width: 100%
        height: 100%
        font-size: 14px !important
        line-height: 2.86 !important
        color: rgba(78, 80, 83, 0.6) !important

.page-admin
    .table
        thead
            th
                border: 0
                padding-left: 0 !important
                padding-right: 0 !important
        tbody
            tr
                transition: .1s
                &:hover
                    background-color: $blue !important
                    color: white !important
                    th, .fa
                        color: white !important
        th
            font-size: 14px
            font-weight: 500
            line-height: 1.57
            color: #24262b
        tr, tr a
            color: #4e5053
            font-weight: normal
            th
                border-left: 0
            td:last-child
                border-right: 0 !important
        td,th
            padding: 15px 30px
    .table-bordered
        border: 0 !important
        td,
        th
            border-top: 0 !important
            border-bottom: 0 !important
    .table-striped tbody tr:nth-of-type(odd)
        background-color: white

@media (max-width: 1367px)
    .btn-main
        padding: 16px 32px
        font-size: 13px
    .container
        max-width: 1140px
