<template>
  <div class="page page-about">
    <div class="bg-main">
      <start links="true" p="3" extraClass="bg-blue"></start>
    </div>
    <div class="page-content">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h2 class="title">
              <span>О НАС</span>
              <span class="text-right d-block c-main">Investroom</span>
              <span class="text-right d-block transparent text-uppercase f-18">:</span>
            </h2>
          </div>
          <div class="col-md-12">
            <p>
              С самого начала нашей деятельности мы поставили перед собой амбициозную цель: сделать платформу, на которой каждый житель нашей страны, даже не имея специальных знаний, и не располагая большим доходом, сможет зарабатывать.
            </p>
            <div class="box box-grey"></div>
            <h4 class="c-main">Ваши деньги заслуживают большего, чем пара процентов на банковском депозите.</h4>
            <div class="d-flex justify-content-between achievements">
              <h2 class="title">
                <span class="c-main">450 000 000 <span>тг.</span></span>
                <span class="text-right d-block text-uppercase f-18">Всего инвестировано</span>
              </h2>
              <h2 class="title">
                <span class="c-main">540 000 000 <span>тг.</span></span>
                <span class="text-right d-block text-uppercase f-18">Выплаченные вознаграждения</span>
              </h2>
              <h2 class="title">
                <span class="c-main">100 <span class="">человек</span></span>
                <span class="text-right d-block text-uppercase f-18">активных инвесторов</span>
              </h2>
            </div>
            <p>
              Investroom — это Платформа, которая позволяет всем желающим выдавать займы малому бизнесу. Есть мнение, что малый бизнес — это большие риски. В целом — это верно. Но мы в Смолли понимаем, что инвестиции должны быть не только доступными и выгодными, но и безопасными. Поэтому мы выбрали один из самых стабильных сегментов российской экономики — сектор госзакупок. Ежегодный объем закупок в государственном секторе — более 35 трлн рублей. Деятельность в этой области жестко регламентируется федеральными законами.
              <br><br>
              Мы создали систему, при которой не просто выдаем займы, а внимательно отслеживаем их исполнение. И если возникает какая-либо проблема, мы, и вы — инвесторы, сразу о ней узнаем. Сайт госзакупок позволяет нам в автоматическом режиме отслеживать исполнение государственного контракта. Возникает проблема — мы не бросаем наших заемщиков с ней один на один. Команда наших специалистов подключается и помогает разобраться в сложной ситуации. Именно такой подход обеспечивает низкий уровень просрочек и высокий уровень лояльности заемщиков.
              <br><br>
              Сектор госзакупок позволяет собирать большой объем информации из независимых источников, что позволяет нам за несколько секунд получить всю необходимую информацию для анализа из независимых источников. Нам не нужно полагаться в принятии решений об одобрении займов на документы, которые предоставляет заемщик. Доверяй, но проверяй. И в нашем распоряжении масса данных.
              <br><br>
              Ну а если все-таки кто-либо из заемщиков решит нас обмануть, то мы умеем и жестко отстаивать интересы наших инвесторов, взыскивая средства. Инвесторам нет необходимости ни о чем беспокоится, мы берем на себя всю работу по взысканию.
              Подробнее об этом можно узнать из документа
              <a href="">политика работы с просроченной задолженностью.</a>
            </p>
          </div>
        </div>
        <pre>{{page}}</pre>
      </div>
      <div class="my-circle my-circle--right-bottom"></div>
      <div class="my-circle my-circle--right-top"></div>
    </div>
    <end></end>
  </div>
</template>
<script>
import Page from "../models/page";

export default {
  name: 'About',
  data () {
    return {
      page: null,
      params: {
        code: 'about_page',
        locale: this.$store.getters.getLang()
      }
    }
  },
  created() {
    this.getPage()
  },
  methods: {
    getPage () {
      Page.get(data => {
        this.page = data
      }, error => {
        console.log(error);
      }, this.params)
    },
  }
}
</script>
<style lang="sass">
.page-about
  .page-content
    padding-bottom: 79px
  .title
    margin-top: 100px
    margin-bottom: 85px
    &::after
      width: 130px
      left: 25%
  p
    color: #353432
    line-height: 1.5
  .box
    margin: 45px 0 30px
  .achievements
    padding: 64px 0 79px
    .title
      font-size: 70px
      margin: 0
      &::after
        left: auto
        right: 0
        top: auto
        bottom: 20px
        width: calc(100% - 50px)
        transform: translate(0)
      span
        >span
          font-size: 30px
          text-transform: lowercase
          line-height: .63
      .f-18
        font-size: 13.5px
        line-height: 1.78
</style>
