<template>
  <div class="page page-auth">
    <form  @submit.prevent="login" v-if="type == 'auth'" class="admin-form">
      <h4 class="text-center c-main mb-4">Авторизация</h4>
      <div class="form-group">
        <label>Логин:</label>
        <input v-model="user.username" type="text">
      </div>
      <div class="form-group">
        <label>Пароль:</label>
        <input v-model="user.password" type="password">
      </div>
      <button class="btn-main btn-main--blue d-block mx-auto mt-5">Авторизоваться</button>
      <span @click="type = 'forgot'" class="forgot">Забыли пароль?</span>
    </form>
    <form v-if="type == 'forgot'" class="admin-form">
      <h4 class="text-center c-main mb-4">Восстановление пароля</h4>
      <div class="form-group">
        <label>Введите E-mail:</label>
        <input type="username">
      </div>
      <div class="d-flex align-items-center justify-content-center">
        <button @click="type = 'new'" class="btn-main btn-main--blue d-block  mt-4">Отправить</button>
        <button @click="type = 'auth'" class="btn-main btn-main--grey d-block ml-3 mt-4">Отменить</button>
      </div>
    </form>
    <form v-if="type == 'new'" class="admin-form">
      <h4 class="text-center c-main mb-4">Новый пароль:</h4>
      <div class="form-group">
        <label>Пароль:</label>
        <input type="password">
      </div>
      <div class="form-group">
        <label>Новый пароль:</label>
        <input type="password">
      </div>
      <div class="d-flex align-items-center justify-content-center">
        <button class="btn-main btn-main--blue d-block  mt-4">Подтвердить</button>
      </div>
    </form>
  </div>
</template>
<script>
import Auth from '../models/auth'
export default {
  name: 'Auth',
  components: {
  },
  data () {
    return {
      type: 'auth',
      user: {
        username: 'v.vasgen',
        password: '1'
      },
      response: null,
      errors: null,
    }
  },
  watch: {
    response () {
      this.$store.dispatch('SET_USER', this.response)
    },
    errors () {
      setTimeout(() => { this.errors = null }, 5000)
    },
  },
  methods: {
    login() {
      Auth.login(data => {
        this.response = data
      }, errors => {
        this.errors = errors
      }, this.user)
    },
  }
}
</script>
<style lang="sass">
.page-auth
  height: 100vh
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  .admin-form
    display: block
    width: 450px
    margin: auto
  .forgot
    display: block
    text-align: center
    margin-top: 18px
    text-decoration: underline
    cursor: pointer !important
    font-size: 14px
    font-weight: 500
    line-height: 1.57
    color: #2ab1de
</style>
