<template>
  <div class="page page-blog">
    <div class="bg-main">
      <start links="true" p="3" extraClass="bg-blue"></start>
    </div>
    <div class="page-content">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h2 class="title">
              <span>НОВОСТИ</span>
              <span class="text-right d-block c-main">Investroom</span>
              <span class="text-right d-block text-uppercase f-18">АКТУАЛЬНОЕ:</span>
            </h2>
          </div>
        </div>
        <div class="row" v-if="news && news.result">
          <div v-for="(article, index) in news.result" :key="index" class="col-md-3">
            <blog-card :data="article"></blog-card>
          </div>
<!--          <div v-else class="col-md-12">-->
<!--            <div class="line"></div>-->
<!--          </div>-->

        </div>

        <div v-if="news && news.total_pages" class="pagination">
          <span>
<!--            <span>«</span>-->
            <span @click="params.page  = i - 1" v-for="i in news.total_pages" :key="i" :class="i == params.page + 1 ? 'active' : ''">{{i}}</span>
            <!--            <span>»</span>-->
          </span>
        </div>
<!--              <pre>{{news}}</pre>-->
      </div>
      <div class="my-circle my-circle--right-bottom"></div>
      <div class="my-circle my-circle--right-top"></div>
      <div class="my-circle my-circle--right-center"></div>
      <div class="my-circle my-circle--left-center"></div>
    </div>
    <end></end>
  </div>
</template>

<script>
import BlogCard from '@/components/BlogCard.vue'
import News from "../models/news";
export default {
  name: 'Blog',
  components: {
    BlogCard
  },
  data () {
    return {
      params: {
        locale: this.$store.state.locale.lang,
        page: 0,
        size: 12
      },
      news: null
    }
  },
  created() {
    this.getNews()
  },
  watch: {
    'params.page' () {
      this.getNews()
    },
    'params.locale' () {
      this.getNews()
    }
  },
  methods: {
    getNews () {
      News.all(data => {
        this.news = data
      }, errors => {
        this.errors = errors
      }, this.params)
    },
  }
}
</script>
<style lang="sass">
.page-blog
  .title
    margin-top: 100px
    margin-bottom: 50px
    &::after
      width: 250px
  .line
    background: rgba(247,247,247)
    display: block
    height: 3px
    width: 100%
</style>
