<template>
  <div class="page page-blog-single">
    <div class="bg-main">
      <start links="true" p="3" extraClass="bg-blue"></start>
    </div>
    <div v-if="article" class="page-title">
      <div class="container">
        <h4 class="c-main mb-4">{{article.newsInfo.header}}</h4>
        <div class="d-flex align-items-center justify-content-between page-info">
          <span>{{article.lastUpdate}} UTC</span>
          <span class="breadcrumb"><span>Новости</span> > <span>{{article.newsInfo.header}}</span></span>
        </div>
      </div>
    </div>
<!--    <pre>{{article}}</pre>-->
    <div v-if="article" class="page-content">
      <div class="container">
        <img src="@/assets/article.png" class="img-fluid" alt="">
        <div class="py-5" v-html="article.newsInfo.opisanie"></div>
      </div>
    </div>
    <end></end>
  </div>
</template>

<script>
import News from "../models/news";

export default {
  name: 'BlogSingle',
  components: {
  },
  data () {
    return {
      article: null,
      params: {
        locale: 'ru'
      }
    }
  },
  created() {
    this.getArticle()
  },
  methods: {
    getArticle () {
      News.show(data => {
        this.article = data
      }, errors => {
        this.errors = errors
      }, this.$route.params.id, this.params)
    },
  }
}
</script>
<style lang="sass">
.page-blog-single
  .page-content
    padding-bottom: 100px
  .page-title
    padding-top: 100px
    padding-bottom: 50px
  .page-info
    opacity: 0.7
    font-size: 16px
    line-height: 1.5
    color: rgba(38, 37, 35, 0.7)
    span
      line-height: 1
  .breadcrumb
    padding: 0
    background: transparent
    span
      text-decoration: underline
      padding: 0 5px
</style>
