<template>
	<div class="page page-borrower">
		<header class="page-header position-relative z-1">
			<div class="container">
				<start p="0"></start>
				<div class="d-flex">
					<div class="choice-left text-white">
						<h2 class="title text-white mb-5">ЗАЕМЩИКАМ</h2>
						<div class="box bg-white mb-4"></div>
						<h4 class="mb-3 text-white">Быстро и выгодно!</h4>
						<p>
							5 минут — и Вы узнаете, можете ли Вы получить заем <br>
							и на каких условиях. <br>
							От 250 тысяч до 50 миллионов тенге. Регистрируйтесь!
						</p>
					</div>
					<div class="choice-right">
						<h2 class="title mb-5">ИНВЕСТОРАМ</h2>
						<div class="box bg-dark mb-4"></div>
						<h4 class="mb-3">Ваши деньги заслуживают большего!</h4>
						<button @click="$router.push('investment')" class="btn-main mt-2">Подробнее...</button>
					</div>
				</div>
			</div>
		</header>
		<section class="investment">
			<div class="my-circle"></div>
			<div class="container">
				<div class="row">
					<div class="col-md-8">
						<h2 class="title">
							<span>Почему Вам стоит взять заем</span>
							<span class="text-right d-block">НА <span class="c-main">Investroom?</span></span>
							<span class="text-right d-block text-uppercase f-18">ПОТОМУ ЧТО ЭТО:</span>
						</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<span class="num">1</span>
						<div class="content">
							<img src="@/assets/check.png" class="img-fluid" alt="">
							<h4 class="my-3 c-main">НЕДОРОГО</h4>
							<p>
								У нас одни из самых выгодных <br>
								ставок на рынке, в диапазоне <br>
								15-27% годовых.
							</p>
						</div>
					</div>
					<div class="col-md-4">
						<span class="num">2</span>
						<div class="content">
							<img src="@/assets/checked.png" class="img-fluid" alt="">
							<h4 class="my-3 c-main">БЫСТРО И УДОБНО</h4>
							<p>
								Все онлайн. Минимум документов. <br>
								И комиссию за выдачу Вы платите <br>
								при возврате займа.
							</p>
						</div>
					</div>
					<div class="col-md-4">
						<span class="num">3</span>
						<div class="content">
							<img src="@/assets/lock.png" class="img-fluid" alt="">
							<h4 class="my-3 c-main">ПОДДЕРЖКА</h4>
							<p>
								Investroom - это больше чем деньги. <br>
								Это помощь и поддержка в любой ситуации. <br>
								Мы своих клиентов в беде не бросаем.
							</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="steps bg-light">
			<div class="my-circle"></div>
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<h2 class="title">
							<span>ПОЛУЧИТЬ ДЕНЬГИ</span>
							<span class="text-right d-block c-main">ОЧЕНЬ ПРОСТО</span>
							<span class="text-right d-block text-uppercase f-18">ВАМ НУЖНО:</span>
						</h2>
					</div>
				</div>
				<div class="d-flex align-items-start justify-content-between">
					<div class="step">
						<div class="img-cont"><img src="@/assets/laptop.png" class="img-fluid" alt=""></div>
						<h4>Пройти регистрацию.</h4>
						<p>Зарегистрируйтесь за минуту.</p>
					</div>
					<div class="step">
						<div class="img-cont"><img src="@/assets/document.png" class="img-fluid" alt=""></div>
						<h4>Предоставить документы.</h4>
						<p>Быстрая проверка документов.</p>
					</div>
					<div class="step">
						<div class="img-cont"><img src="@/assets/contract.png" class="img-fluid" alt=""></div>
						<h4>Заключить договор.</h4>
						<p>Без посещения офиса, онлайн.</p>
					</div>
					<div class="step">
						<div class="img-cont"><img src="@/assets/order.png" class="img-fluid" alt=""></div>
						<h4>Разместить заявку.</h4>
						<p>Ваша заявка доступна.</p>
					</div>
					<div class="step">
						<div class="img-cont"><img src="@/assets/approve.png" class="img-fluid" alt=""></div>
						<h4>Получить займ.</h4>
						<p>Средства на счету.</p>
					</div>
				</div>
			</div>
		</section>
		<section class="borrow-calculator">
			<div class="my-circle"></div>
			<div class="container">
				<div class="row">
					<div class="col-md-5">
						<h2 class="title">
							<span>КАЛЬКУЛЯТОР</span>
							<span class="text-right d-block c-main">ЗАЕМЩИКА</span>
							<span class="text-right d-block text-uppercase f-18 mt-2">РАССЧИТАТЬ ЗАЕМ:</span>
						</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-12 d-flex">
						<div class="money">
							<div class="f-s-b">
								<h4>Сумма займа</h4>
								<h4><span class="c-main">50 000</span> тенге</h4>
							</div>
							<input class="range" type="range" min="50000" max="5000000" value="50000" step="10000" onmousemove="" />
							<div class="f-s-b">
								<span class="values">50 000 тенге</span>
								<span class="values">5 000 000 тенге</span>
							</div>
						</div>
						<div class="time">
							<div class="f-s-b">
								<h4>СРОК</h4>
								<h4><span class="c-main">120 ДНЕЙ</span></h4>
							</div>
							<input class="range" type="range" min="0" max="360" value="120" step="10" onmousemove="" />
							<div class="f-s-b">
								<span class="values">30 дней</span>
								<span class="values">360 дней</span>
							</div>
						</div>
					</div>
					<div class="col-12">
						<hr class="mb-5">
					</div>
					<div class="col-12 d-flex mb-5">
						<hr class="mb-5">
						<div class="money">
							<div class="f-s-b val">
								<span>Сумма переплаты: </span>
								<span>3034 тенге</span>
							</div>
							<div class="f-s-b val">
								<span>Проценты:</span>
								<span>34 тенге</span>
							</div>
							<div class="f-s-b val">
								<span>Комиссия:</span>
								<span>3000 тенге</span>
							</div>
						</div>
						<div class="time">
							<div class="f-s-b val">
								<span>Основной долг:</span>
								<span>50000 тенге</span>
							</div>
							<div class="f-s-b val">
								<span>Ставка:</span>
								<span>25%</span>
							</div>
							<div class="f-s-b val">
								<span>Комиссия:</span>
								<span>1%</span>
							</div>
						</div>
					</div>
					<div class="col-12 py-5 text-center">
						<hr class="line-secondary">
						<button class="btn-main btn-main--yellow text-uppercase">Получить финансирование</button>
					</div>
				</div>
				<div class="box box-grey mb-4"></div>
				<h5 class="c-main mb-3">Остались вопросы?</h5>
				<button @click="$router.push('faq')" class="btn-main">Ответы здесь</button>
			</div>
		</section>
		<end></end>
	</div>
</template>
<script>
  export default {
      name: 'Borrower'
  }
</script>
<style lang="sass">
@import "src/sass/variables"
.range
	cursor: pointer
	-webkit-appearance: none
	vertical-align: middle
	outline: none
	border: none
	padding: 0
	background: none
	width: 100%
	&::-webkit-slider-runnable-track
		background-color: #b3b3b3
		height: 5px
		border-radius: 2px
		border: 1px solid transparent
	&[disabled]::-webkit-slider-runnable-track
		border: 1px solid #b3b3b3
		background-color: transparent
		opacity: 0.4
	&::-moz-range-track
		background-color: #b3b3b3
		height: 6px
		border-radius: 3px
		border: none
	&::-ms-track
		color: transparent
		border: none
		background: none
		height: 6px
	&::-ms-fill-lower
		background-color: #b3b3b3
		border-radius: 3px
	&::-ms-fill-upper
		background-color: #b3b3b3
		border-radius: 3px
	&::-ms-tooltip
		display: none
	&::-moz-range-thumb
		border-radius: 20px
		height: 34px
		width: 34px
		border: none
		background: none
		background-color: $yellow
		position: relative
		&::after
			position: absolute
			left: 50%
			top: 50%
			transform: translate(-50%,-50%)
			background: $yellow
			opacity: .2
			width: 42px
			height: 42px
			content: ''
	&:active::-moz-range-thumb
		outline: none
	&::-webkit-slider-thumb
		-webkit-appearance: none !important
		border-radius: 100%
		background-color: $yellow
		height: 34px
		width: 34px
		margin-top: -17px
		position: relative
		&::after
			position: absolute
			left: 50%
			top: 50%
			transform: translate(-50%,-50%)
			background: $yellow
			opacity: .2
			width: 42px
			height: 42px
			content: ''
	&[disabled]::-webkit-slider-thumb
		background-color: transparent
		border: 1px solid #d7dbdd
	&:active::-webkit-slider-thumb
		outline: none
	&::-ms-thumb
		border-radius: 100%
		background-color: $yellow
		height: 34px
		width: 34px
		border: none
		position: relative
		&::after
			position: absolute
			left: 50%
			top: 50%
			transform: translate(-50%,-50%)
			background: $yellow
			opacity: .2
			width: 42px
			height: 42px
			content: ''
	&:active::-ms-thumb
		border: none

.page-borrower
	.borrow-calculator
		.title
			margin-bottom: 100px
	.money
		margin-right: 80px
		width: 100%
	.time
		width: 100%
	.borrow-calculator
		h4
			color: #353432
			font-weight: bold
			text-transform: uppercase
			margin-bottom: 44px
			line-height: 1.08
	.f-s-b
		align-items: center
		justify-content: space-between
		display: flex
		color: #353432
	.values
		opacity: 0.6
		line-height: 1.63
		color: rgba(53, 52, 50, 0.6)
		margin-bottom: 70px
		margin-top: 38px
	.f-s-b.val
		padding: 40px 0 30px
		border-bottom: 3px solid rgba(233, 234, 239, .2)
		span:first-child
			font-size: 20px
			font-weight: 500
			line-height: 1.3
		span:last-child
			font-size: 24px
			font-weight: bold
			line-height: 1.08
			text-transform: uppercase
	hr
		height: 3px
		background: #e9eaef
		border: 0
	.line-secondary
		transform: translateY(29px)
	.btn-main--yellow
		margin-top: -85px
		position: relative
		z-index: 1
</style>
