<template>
  <div class="page page-contacts">
    <div class="bg-main">
      <start links="true" p="3" extraClass="bg-blue"></start>
    </div>
    <div class="page-content">
      <div v-if="page" class="container">
        <div class="row">
          <div class="col-md-5">
            <h2 class="title">
              <span>КОНТАКТЫ</span>
              <span class="text-right d-block c-main">Investroom</span>
              <span class="text-right d-block transparent text-uppercase f-18">:</span>
            </h2>
          </div>
        </div>
        <div v-for="(item, index) in page" :key="index" class="row">
          <div class="col-md-5">
            <div class="box box-grey"></div>
            <div v-html="item.info"></div>
          </div>
          <div class="col-md-7">
            <div id="map" class="w-100"></div>
          </div>
        </div>
      </div>
      <div class="my-circle my-circle--right-bottom"></div>
      <div class="my-circle my-circle--right-top"></div>
    </div>
    <end></end>
  </div>
</template>
<script>
import Page from "../models/page";

export default {
  name: 'Contacts',
  data () {
    return {
      page: null,
      params: {
        code: 'contacts_page',
        locale: this.$store.getters.getLang()
      }
    }
  },
  mounted() {
  },
  created() {
    this.getPage()
  },
  methods: {
    getPage () {
      Page.get(data => {
        this.page = data
        /* eslint-disable */
        var map
        DG.then(function () {
          map = DG.map('map', {
            center: [54.98, 82.89],
            zoom: 13
          });
        });
      }, error => {
        console.log(error);
      }, this.params)
    },
  }
}
</script>
<style lang="sass">
.page-contacts
  .page-content
    padding-bottom: 80px
  .title
    margin-top: 100px
    margin-bottom: 85px
    &::after
      width: 280px
  .box
    margin: 0 0 30px
  #map
    border-radius: 10px
    height: 100%
</style>
