<template>
  <div class="page page-faq">
    <div class="bg-main">
      <start links="true" p="3" extraClass="bg-blue"></start>
    </div>
    <div class="page-content">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <h2 class="title">
              <span>ПОМОЩЬ</span>
              <span class="text-right d-block c-main">FAQ</span>
              <span class="text-right d-block transparent text-uppercase f-18">:</span>
            </h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="box box-grey"></div>
            <h4 class="c-main mb-5">Ответы для инвесторов</h4>
            <faq-card v-for="question in faq.result" :key="question.id" :data="question"></faq-card>
            <div class="box box-grey mt-5"></div>
            <h4 class="c-main mb-4">Ответы для заемщиков</h4>
            <button  data-toggle="modal" data-target="#faqModal" class="btn-main">Задать вопрос</button>
          </div>
        </div>
      </div>
    </div>
    <div id="faqModal" class="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content d-flex flex-column align-items-center justify-content-center">
          <div v-if="sent" class="c-main" id="dataSent" data-dismiss="modal" aria-label="Close">
            <div class="d-flex align-items-center justify-content-center">
              <i class="fa fa-check-circle-o fa-2x mr-2"></i>
              <span>Вопрос успешно отправлен!</span>
            </div>
          </div>
          <form v-else @submit.prevent="postAppeal" class="admin-form py-0 w-100">
<!--                  <pre>{{appeal}}</pre>-->
<!--                  <pre>{{errors}}</pre>-->
            <div class="form-group">
              <label>Фамилия:</label>
              <input type="text" required v-model="appeal.name">
            </div>
            <div class="form-group">
              <label>E-mail:</label>
              <input type="email" required v-model="appeal.email">
            </div>
            <div  class="form-group">
              <label>Ваш вопрос:</label>
              <textarea  rows="7" v-model="appeal.message"></textarea>
            </div>
            <div class="d-flex align-items-center justify-content-center">
              <button type="submit" class="btn-main px-5">Отправить</button>
              <button class="btn-main px-5 btn-main--grey ml-4" data-dismiss="modal" aria-label="Close">Отменить</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <end></end>
  </div>
</template>
<script>
  import FaqCard from "@/components/FaqCard"
  import Appeal from "../models/appeal";
  export default {
    name: 'FAQ',
    components: { FaqCard },
    data () {
      return {
        sent: false,
        errors: null,
        appeal: {
          email: null,
          name: null,
          message: null
        },
          params: {
              locale: 'ru',
              page: 0,
              size: 100
          },
        faq: []
      }
    },
      created() {
        this.getAppeals()
      },
    methods: {
      closeModal () {
          document.getElementById('dataSent').click()
          this.sent = false
      },
      postAppeal () {
        Appeal.save(() => {
          this.sent = true
            this.appeal =  {
                email: null,
                name: null,
                message: null
            }
          setTimeout(()=>{ this.closeModal() }, 4000)
        }, errors => {
          this.$notify({
            group: 'notifiy',
            type: 'error',
            text: errors
          })
        }, this.appeal)
      },
        getAppeals () {
            Appeal.all(data => {
                this.faq = data
            }, errors => {
                this.errors = errors
            }, this.params)
        }
    }
  }
</script>
<style lang="sass">
  .page-faq
    .page-content
      padding-bottom: 80px
    .title
      margin-top: 100px
      margin-bottom: 85px
      &::after
        width: 110px
        left: 70%
    .box
      margin: 0 0 30px
    .modal-content
      padding: 35px
      border: 0
      background-color: white
      box-shadow: 0px 10px 20px 0 rgba(38, 37, 35, 0.07)
      min-height: 520px
      label
        color: #b1b1b1
      input, textarea
        border-color: #e0e7ff
        width: 100%
        min-width: auto
</style>
