<template>
	<div class="page page-home">
		<header class="page-main">
			<div class="container">
				<start p="0"></start>
<!--				<pre class="text-white">{{page}}</pre>-->
				<span v-if="page && page.pageInfo" class="dub-title mb-5">
					{{page.pageInfo[1].title}}
					<span>{{page.pageInfo[1].annotation}}</span>
				</span>
				<div class="row">
					<div class="col-md-6 offset-md-3 text-center">
						<div class="title-content">
              <span class="title-main">
              <span>
              <span class="title-main__core value" akhi="47418480"></span>
              <span class="title-main__price">тг.</span>
              </span>
              </span>
							<span class="d-block text-uppercase text-right font-weight-bold">всего выплачено инвесторам</span>
						</div>
					</div>
				</div>
				<div class="row">
					<div v-if="page && page.pageInfo" class="col-md-4 text-white">
						<h2 class="title text-white mb-5">{{page.pageInfo[2].role}}</h2>
						<div class="box bg-white mb-4"></div>
						<h4 class="mb-3">{{page.pageInfo[2].title}}</h4>
						<p>{{page.pageInfo[2].description}}</p>
						<button @click="$router.push('investment')" class="btn-main btn-main--inverse mt-5">Подробнее...</button>
					</div>
					<div v-if="page && page.pageInfo" class="col-md-4 offset-md-4">
						<h2 class="title mb-5">{{page.pageInfo[0].role}}</h2>
						<div class="box bg-dark mb-4"></div>
						<h4 class="mb-3">{{page.pageInfo[0].title}}</h4>
						<p>{{page.pageInfo[0].description}}</p>
						<button @click="$router.push('borrower')" class="btn-main mt-5">Подробнее...</button>
					</div>
				</div>
			</div>
		</header>
	</div>
</template>
<script>
    import Page from "../models/page";

    export default {
        name: 'Home',
        components: {
        },
		data () {
            return {
                params: {
                    code: 'main_page',
                    locale: this.$store.getters.getLang()
                },
                page: {
                    code: 'main_page',
                    locale : this.$store.getters.getLang(),
					pageInfo: null
                },
            }
		},
		mounted() {
            const counters = document.querySelectorAll('.value');
            const speed = 500;

            counters.forEach( counter => {
                const animate = () => {
                    const value = +counter.getAttribute('akhi');
                    const data = +counter.innerText;

                    const time = value / speed;
                    if(data < value) {
                        counter.innerText = Math.ceil(data + time);
                        setTimeout(animate, 1);
                    }else{
                        counter.innerText = value;
                    }

                }
                animate();
            });
        },
		created() {
            this.getPage()
        },
        methods: {
            getPage () {
                Page.get(data => {
                    this.page.pageInfo = data;
                }, error => {
                    console.log(error);
                }, this.params)
            },
		}
    }
</script>
<style lang="sass">
.page-home
	.page-main
		.menu
			margin-right: 40px
			a
				margin: 0 1vw
</style>
