<template>
  <div class="page page-investment">
    <header class="page-header position-relative z-1 bg-white">
      <div class="container">
        <start p="0"></start>
        <div class="d-flex">
          <div class="choice-left text-white">
            <h2 class="title text-white mb-5">Инвесторам</h2>
            <div class="box bg-white mb-4"></div>
            <h4 class="mb-3">Ваши деньги заслуживают большего!</h4>
            <p>
              Выдавайте займы на исполнение госконтрактов <br>
              и зарабатывайте в три-четыре раза больше, <br>
              чем на банковском депозите c минимальным риском.
            </p>
          </div>
          <div class="choice-right">
            <h2 class="title mb-5">ЗАЕМЩИКАМ</h2>
            <div class="box bg-dark mb-4"></div>
            <h4 class="mb-3">Быстро и выгодно!</h4>
            <button @click="$router.push('borrower')" class="btn-main mt-2">Подробнее...</button>
          </div>
        </div>
      </div>
    </header>
    <section class="investment">
      <div class="my-circle"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <h2 class="title">
              <span>Почему инвестировать</span>
              <span class="text-right d-block">с Investroom?</span>
              <span class="text-right d-block text-uppercase f-18">ПОТОМУ ЧТО ЭТО:</span>
            </h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <span class="num">1</span>
            <div class="content">
              <img src="@/assets/check.png" class="img-fluid" alt="">
              <h4 class="my-3 c-main">ПРОСТО</h4>
              <p>
                Регистрация за пару секунд. <br>
                Инвестиции - на автопилоте. <br>
                Включите автоинвест и наблюдайте <br>
                как Ваши деньги зарабатывают.</p>
            </div>
          </div>
          <div class="col-md-4">
            <span class="num">2</span>
            <div class="content">
              <img src="@/assets/checked.png" class="img-fluid" alt="">
              <h4 class="my-3 c-main">НАДЁЖНО</h4>
              <p>
                Мы выбрали самый безопасный сегмент <br>
                в рамках исполнения госзакупок. <br>
                Накопленная нами статистика показывает, <br>
                что это - правильный выбор.
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <span class="num">3</span>
            <div class="content">
              <img src="@/assets/lock.png" class="img-fluid" alt="">
              <h4 class="my-3 c-main">БЕЗОПАСНО</h4>
              <p>
                Ваши деньги лежат на номинальном счете. <br>
                Украсть эти деньги мы не сможем. <br>
                Банк не даст.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="steps bg-light">
      <div class="my-circle"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h2 class="title">
              <span>СТАТЬ <span class="c-main">ИНВЕСТОРОМ</span></span>
              <span class="text-right d-block">ОЧЕНЬ ПРОСТО</span>
              <span class="text-right d-block text-uppercase f-18">ВАМ НУЖНО:</span>
            </h2>
          </div>
        </div>
        <div class="d-flex align-items-start justify-content-between">
          <div class="step">
            <div class="img-cont"><img src="@/assets/laptop.png" class="img-fluid" alt=""></div>
            <h4>Пройти регистрацию.</h4>
            <p>Зарегистрируйтесь за минуту.</p>
          </div>
          <div class="step">
            <div class="img-cont"><img src="@/assets/ellipse.png" class="img-fluid" alt=""></div>
            <h4>Выбрать сделку.</h4>
            <p>Выберите любую сделку.</p>
          </div>
          <div class="step">
            <div class="img-cont"><img src="@/assets/contract.png" class="img-fluid" alt=""></div>
            <h4>Заключить договор.</h4>
            <p>Не выходя из дома, онлайн подпись.</p>
          </div>
          <div class="step">
            <div class="img-cont"><img src="@/assets/credit-card.png" class="img-fluid" alt=""></div>
            <h4>Внести сумму.</h4>
            <p>Внесите любую сумму.</p>
          </div>
          <div class="step">
            <div class="img-cont"><img src="@/assets/approve.png" class="img-fluid" alt=""></div>
            <h4>Получать доход.</h4>
            <p>Начните зарабатывать.</p>
          </div>
        </div>
      </div>
    </section>
    <section class="any-question overflow-hidden">
      <div class="my-circle"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <h2 class="title">
              <span>ДАЛЬШЕ ВАШИ ДЕНЬГИ</span>
              <span class="text-right d-block">БУДУТ РАБОТАТЬ НА ВАС!</span>
              <span class="text-right d-block text-uppercase f-18">ВСЁ ГОТОВО.</span>
            </h2>
          </div>
        </div>
        <p class="m-0">
          Хотите инвестировать самостоятельно? Не проблема. <br>
          В своем личном кабинете Вы найдете всю необходимую информацию для принятия решений.
        </p>
        <div class="box box-grey"></div>
        <h5 class="c-main mb-3">Остались вопросы?</h5>
        <button @click="$router.push('faq')" class="btn-main">Ответы здесь</button>
      </div>
    </section>
    <end></end>
  </div>
</template>
<script>
export default {
  data () {
    return {
      investment: {
        block: 'investment',
        title:  'ИНВЕСТОРАМ',
        introduction: 'Ваши деньги заслуживают большего!',
        description: 'Выдавайте займы на исполнение госконтрактов и зарабатывайте в три-четыре раза больше, чем на банковском депозите c минимальным риском.'
      },
      borrower: {
        block: 'borrower',
        title: 'Быстро и выгодно!',
        introduction: 'Быстро и выгодно!'
      },
      advantages: {
        block: 'advantages',
        advantage: [
          {
            image: null,
            title: 'ПРОСТО',
            description: 'Регистрация за пару секунд. Инвестиции - на автопилоте. Включите автоинвест и наблюдайте как Ваши деньги зарабатывают.'
          },
          {
            image: null,
            title: 'НАДЁЖНО',
            description: 'Мы выбрали самый безопасный сегмент в рамках исполнения госзакупок. Накопленная нами статистика показывает, что это - правильный выбор.'
          },
          {
            image: null,
            title: 'БЕЗОПАСНО',
            description: 'Ваши деньги лежат на номинальном счете. Украсть эти деньги мы не сможем. Банк не даст.'
          }
        ]
      }
    }
  }
}
</script>
<style lang="sass">
.page-investment
    .steps
        .title
            &::after
              left: 55%
              width: 389px
</style>
