<template>
	<div class="admin-bar d-flex align-items-center justify-content-between">
		<router-link :to="{name:'Home'}"><img src="../assets/back.png" class="img-fluid" width="34" alt=""></router-link>
<!--		<pre>{{auth}}</pre>-->
		<div class="dropdown">
			<a class="user d-flex align-items-center justify-content-center" id="profile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<span v-if="auth" class="name">{{auth.lastName + ' ' + auth.firstName}}</span>
				<img src="../assets/user.png" class="img-fluid ml-4 mr-2" alt="">
				<i class="fa fa-angle-down"></i>
			</a>
			<div class="dropdown-menu" aria-labelledby="profile">
				<router-link :to="{name:'AdminProfile'}">Личный кабинет</router-link>
				<a @click="logOut">Выйти из кабинета</a>
			</div>
		</div>
	</div>
</template>
<script>
import Auth from "../models/auth";
export default {
    data () {
        return {
            user: null
		}
	},
    created() {
        this.getProfile()
    },
    computed: {
        auth () {
            return this.$store.getters.getUser()
        }
    },
    methods: {
        getProfile() {
            Auth.me(data => {
                this.user = data
            }, errors => {
                this.errors = errors
            }, this.user)
        },
        logOut() {
            this.$store.dispatch('REMOVE_USER', this.response)
        },
    }
}
</script>
<style lang="sass">
@import "../sass/variables"
.admin-bar
	padding: 38px 0 26px
	.user
		cursor: pointer
		&:hover
			text-decoration: none
		.name
			color: #565d6b
			font-size: 16px
			line-height: 1.38
		.fa
			color: $blue
	.dropdown-menu
		padding: 22px 24px 19px
		opacity: 0.8
		box-shadow: 0px 10px 20px 0 rgba(38, 37, 35, 0.07)
		background-color: white
		border: 0
		z-index: 1
		border-radius: 0
		right: 0 !important
		top: 10px !important
		left: auto !important
		min-width: 180px
		a
			font-size: 14px
			line-height: 1.57
			color: #565d6b
			display: block
			cursor: pointer
			&:hover
				text-decoration: underline
			&.router-link-active
				font-weight: 500
				color: $blue

</style>
