<template>
  <router-link :to="{ name: 'BlogSingle', params: {id: data.id}}" class="blog-card">
    <img v-if="data.image_identifier" :src="data.image_identifier" class="img-fluid" alt="">
    <img v-else src="../assets/mainBg.png" class="img-fluid" alt="">
    <div class="blog-card__body">
      <h4>{{data.newsHeader}}</h4>
      <span>{{data.created}}</span>
      <p>{{data.introduction}}</p>
    </div>
<!--    <pre>{{data}}</pre>-->
  </router-link>
</template>
<script>
// import img from '@/assets/mainBg.png'
export default {
  name: 'BlogCard',
  props: ['data']
}
</script>

<style lang="sass" scoped>
.blog-card
  box-shadow: 0.7px 1.9px 32px 0 rgba(12, 12, 12, 0.06)
  background-color: #ffffff
  margin: 50px 0 75px
  display: block
  transition: .2s
  &:hover
    text-decoration: none
    cursor: pointer
    transform: scale(1.05)
    h4
      text-decoration: none !important
  img
    object-fit: cover
    height: 230px
  &__body
    padding: 25px 20px
  h4
    font-size: 24px
    font-weight: 500
    line-height: 1
    color: #253163
    text-decoration: underline !important
    margin-bottom: 12px
  span, p
    display: block
    font-size: 14px
    line-height: 1.71
    color: rgba(38, 37, 35, 0.7)
    margin-bottom: 25px
    opacity: .7
  p
    margin: 0
    font-size: 16px
    line-height: 1.5

</style>
