<template>
	<div class="">
		<footer>
			<div class="container">
				<div class="d-flex align-items-center justify-content-between">
					<router-link to="/" class="m-0">
						<img src="@/assets/logo.png" class="img-fluid logo" width="200" alt="">
					</router-link>
					<div class="menu">
						<router-link :to="{ name: 'Blog'}">Новости</router-link>
						<a href="">Документы</a>
						<router-link :to="{ name: 'FAQ'}">Помощь</router-link>
						<router-link :to="{ name: 'About'}">О нас</router-link>
						<router-link :to="{ name: 'Contacts'}">Контакты</router-link>
					</div>
					<div class="text-white">
						<span class="font-weight-bold">+7 701 792 9001  /  </span>
						<span>info@investroom.kz</span>
					</div>
				</div>
			</div>
		</footer>
	</div>
</template>
<style lang="sass">
@import "../sass/variables"
footer
	background-color: $main
	position: relative
	z-index: 1
	.logo
		margin-top: -10px
	.menu
		display: flex
		a
			transition: .3s
			padding: 46px 0 40px
			border-bottom: 4px solid transparent
			line-height: 1
			&.router-link-active
				border-bottom: 4px solid white !important
			&:hover
				font-weight: 600
				color: white
	&.bg-blue
		a, span
			color: white !important
	a
		margin: 0 20px
		color: white
	.login-register
		color: #666666
</style>
