<template>
	<div class="faq-card">
		<a data-toggle="collapse" :href="'#question' + data.id" role="button" aria-expanded="false" aria-controls="collapseExample">
			{{data.senderMessage}}
		</a>
		<div class="collapse" :id="'question' + data.id">
			<div class="question-inner">
				<div v-html="data.answererMessage"></div>
			</div>
		</div>
	</div>
</template>
<script>
export default {
  name: 'FaqCard',
  props: ['data']
}
</script>
<style lang="sass">
.faq-card
	a
		font-weight: bold
		line-height: 1.75
		text-decoration: underline
	a, p
		color: #353432
	.question-inner
		padding: 0 12px
		border-left: 2px solid #e9eaef
		margin: 24px 12px

</style>
