<template>
	<div class="langs">
		<span @click="changeLocale('ru')" :class="$store.state.locale.lang == 'ru' ? 'active' : ''">Русский язык</span>
		<span @click="changeLocale('kk')" :class="$store.state.locale.lang == 'kk' ? 'active' : ''">Казахский язык</span>
		<span @click="changeLocale('en')" :class="$store.state.locale.lang == 'en' ? 'active' : ''">Английский язык</span>
	</div>
</template>
<script>
export default {
	methods: {
		changeLocale (locale) {
			this.$store.dispatch('SET_LANG', locale)
		}
	}
}
</script>
