<template>
	<div class="menu-admin bg-main" :class="[wide ? 'wide' : 'narrow']">
		<template v-if="wide">
			<router-link to="/" class="">
				<img src="@/assets/logo.png" class="img-fluid logo" width="200" alt="">
			</router-link>
			<div class="accordion">
				<a @click="pages = !pages" class="link-group">
					<img src="../assets/menu/icon1.svg" width="20" alt="">
					<span>Страницы</span>
					<img src="../assets/menu/icon12.svg" width="20" alt="">
				</a>
				<div v-if="pages" class="link-pages">
					<router-link class="link-page" :to="{ name: 'AdminHome'}">
						<img src="../assets/menu/icon7.svg" width="30" alt="">
						<span>Главная</span>
					</router-link>
					<router-link class="link-page" :to="{ name: 'AdminBorrower'}">
						<img src="../assets/menu/icon11.svg" width="30" alt="">
						<span>Заемщик</span>
					</router-link>
					<router-link class="link-page" :to="{ name: 'AdminInvestment'}">
						<img src="../assets/menu/icon11.svg" width="30" alt="">
						<span>Инвестор</span>
					</router-link>
					<router-link class="link-page" :to="{ name: 'AdminArticles'}">
						<img src="../assets/menu/icon8.svg" width="30" alt="">
						<span>Новости</span>
					</router-link>
					<router-link class="link-page" :to="{ name: 'AdminDocuments'}">
						<img src="../assets/menu/icon10.svg" width="30" alt="">
						<span>Документы</span>
					</router-link>
					<router-link class="link-page" :to="{ name: 'AdminAbout'}">
						<img src="../assets/menu/icon3.svg" width="30" alt="">
						<span>О нас</span>
					</router-link>
					<router-link class="link-page" :to="{ name: 'AdminContacts'}">
						<img src="../assets/menu/icon6.svg" width="30" alt="">
						<span>Контакты</span>
					</router-link>
					<router-link class="link-page" :to="{ name: 'AdminHelp'}">
						<img src="../assets/menu/icon4.svg" width="30" alt="">
						<span>Помощь</span>
					</router-link>
				</div>
				<a @click="requests = !requests" class="link-group">
					<img src="../assets/menu/icon2.svg" width="25" alt="">
					<span>Обращения</span>
					<img src="../assets/menu/icon12.svg" width="20" alt="">
				</a>
				<div v-if="requests" class="link-pages">
					<router-link class="link-page" :to="{ name: 'AdminRequests'}">
						<img src="../assets/menu/icon9.svg" width="30" alt="">
						<span>Обращения</span>
					</router-link>
				</div>
			</div>
			<span class="menu-locale">
				<span class="active">RUS | </span>
				<span>KAZ | </span>
				<span>ENG</span>
			</span>
		</template>
		<template v-else>
			<router-link to="/" class="">
				<img src="@/assets/menu/logo-min.png" class="img-fluid logo" width="40" alt="">
			</router-link>
			<div class="accordion">
				<div class="link-pages">
					<router-link class="link-page" :to="{ name: 'AdminHome'}">
						<img src="../assets/menu/icon7.svg" width="30" alt="">
					</router-link>
					<router-link class="link-page" :to="{ name: 'AdminBorrower'}">
						<img src="../assets/menu/icon11.svg" width="30" alt="">
					</router-link>
					<router-link class="link-page" :to="{ name: 'AdminInvestment'}">
						<img src="../assets/menu/icon11.svg" width="30" alt="">
					</router-link>
					<router-link class="link-page" :to="{ name: 'AdminArticles'}">
						<img src="../assets/menu/icon8.svg" width="30" alt="">
					</router-link>
					<router-link class="link-page" :to="{ name: 'AdminDocuments'}">
						<img src="../assets/menu/icon10.svg" width="30" alt="">
					</router-link>
					<router-link class="link-page" :to="{ name: 'AdminAbout'}">
						<img src="../assets/menu/icon3.svg" width="30" alt="">
					</router-link>
					<router-link class="link-page" :to="{ name: 'AdminContacts'}">
						<img src="../assets/menu/icon6.svg" width="30" alt="">
					</router-link>
					<router-link class="link-page" :to="{ name: 'AdminHelp'}">
						<img src="../assets/menu/icon4.svg" width="30" alt="">
					</router-link>
					<router-link class="link-page" :to="{ name: 'AdminRequests'}">
						<img src="../assets/menu/icon9.svg" width="30" alt="">
					</router-link>
				</div>
			</div>
			<span class="menu-locale">
				<span class="active">RUS</span>
				<span>KAZ</span>
				<span>ENG</span>
			</span>
		</template>
		<i @click="wide = !wide" v-if="wide" class="fa fa-arrow-left fa-2x text-white toggle-menu"></i>
		<i @click="wide = !wide" v-else class="fa fa-arrow-right fa-2x text-white toggle-menu"></i>
	</div>
</template>
<script>
export default {
    name: 'StartAdmin',
	data () {
        return {
            pages: true,
			requests: true,
			wide: true
		}
	}
}
</script>
<style lang="sass">
.menu-admin
	height: 100%
	user-select: none
	.router-link-exact-active
		img
			transition: .3s
			transform: scale(1.2)
		span
			transition: .3s
			text-decoration: underline !important
			text-decoration-color: white
			font-weight: 600 !important
	&.wide
		padding: 35px 70px
		min-width: 310px
	&.narrow
		padding: 35px
		.menu-locale
			display: block
			> span
				display: block
		.link-group
			opacity: 0
		.link-pages
			padding-left: 0
			padding-right: 0
			.link-page
				img
					margin: 10px 0
		.fa-arrow-right
			margin-top: 90px
	.logo
		margin-bottom: 70px
	.toggle-menu
		margin-top: 40px
		text-align: center
		display: block
		cursor: pointer
	.menu-locale
		color: white
		text-align: center
		margin-top: 40px
		display: flex
		justify-content: center
		span
			padding: 0 2.5px
			cursor: pointer
			text-decoration: underline
			&.active
				text-decoration: none
				font-weight: 600
	.link-group
		border-bottom: 1px solid rgba(135, 148, 178, .2)
		padding: 25px 0
		color: white
		display: flex
		align-items: center
		justify-content: space-between
		position: relative
		cursor: pointer
		span
			width: calc(100% - 70px)
			font-size: 18px
			font-weight: bold
		img
			&:last-child
				margin-top: 10px
		&::after
			content: ''
			border-bottom: 1px solid rgba(135, 148, 178, .2)
			position: absolute
			left: 0
			bottom: -1px
			width: 100%
			transform: translateX(-100%)
	.link-pages
		padding: 36px 30px
		.link-page
			cursor: pointer
			display: flex
			justify-content: space-between
			align-items: center
			cursor: pointer !important
			&:not(:last-child)
				margin-bottom: 16px
			&:hover
				color: white
			img
				height: 16px
				display: block
				max-width: 20px
				margin: auto
			span
				color: white
				font-size: 16px
				font-weight: normal
				width: calc(100% - 40px)



</style>
