<template>
	<div :class="'container px-'+ p">
		<div :class="extraClass" class="head-menu d-flex align-items-center justify-content-between">
			<router-link to="/" class="m-0"><img src="@/assets/logo.png" class="img-fluid logo" width="200" alt=""></router-link>
			<div class="menu">
				<template v-if="links">
					<router-link :to="{ name: 'Investment'}">Инвесторам</router-link>
					<router-link :to="{ name: 'Borrower'}">Заемщикам</router-link>
				</template>
				<router-link :to="{ name: 'Blog'}">Новости</router-link>
				<a href="">Документы</a>
				<router-link :to="{ name: 'FAQ'}">Помощь</router-link>
				<router-link :to="{ name: 'About'}">О нас</router-link>
				<router-link :to="{ name: 'Contacts'}">Контакты</router-link>
			</div>
			<div class="login-register">
				<span class="mr-4"><span class="font-weight-bold c-main">Войти</span>  /  Регистрация</span>
				<span><span class="font-weight-bold c-main">RU</span> | KZ</span>
			</div>
		</div>
	</div>
</template>
<script>
export default {
    props: ['p', 'extraClass', 'links'],
	name: 'Start',
}
</script>
<style lang="sass">
.head-menu
	.logo
		margin-top: -10px
	.menu
		display: flex
		a
			transition: .3s
			padding: 46px 0 40px
			border-top: 4px solid transparent
			line-height: 1
			&.router-link-active
				border-top: 4px solid white !important
			&:hover
				font-weight: 600
	&.bg-blue
		a, span
			color: white !important
	a
		margin: 0 20px
		color: white
	.login-register
		color: #666666
		padding: 40px 0 40px
	@media (max-width: 1367px)
		.logo
			width: 160px
		.login-register
			span
				font-size: 13px
		.menu
			a
				font-size: 13px
				margin-right: 14px
				margin-left: 14px

.bg-blue
	.login-register
		transform: translateY(5px)


</style>
