<template>
  <div class="page-admin-about">
    <admin-bar></admin-bar>
    <h2 class="admin-title">О нас</h2>
    <pre>{{page}}</pre>
    <form @submit.prevent="changePage" v-for="(pageInfo, index) in page" :key="index" class="admin-form">
      <div class="form-group">
        <label>Заголовок:</label>
        <input v-model="pageInfo.title" type="text" class="w-100">
      </div>
      <div class="form-group">
        <label>Аннотация:</label>
        <vue-editor id="editor" useCustomImageHandler
                    @image-added="handleImageAdded"
                    v-model="pageInfo.annotation"> </vue-editor>
      </div>
      <div class="form-group">
        <label>Описание:</label>
        <vue-editor id="editor2" useCustomImageHandler
                    @image-added="handleImageAdded"
                    v-model="pageInfo.description"> </vue-editor>
      </div>
      <div class="my-line"></div>
      <button class="btn-main btn-main--blue">Сохранить изменения</button>
    </form>
  </div>
</template>
<script>
import AdminBar from '@/components/AdminBar.vue'
import Page from "../../models/page";
import Image from "../../models/image";
import { VueEditor } from "vue2-editor";
export default {
  name: 'AdminAbout',
  components: { AdminBar, VueEditor },
  data () {
    return {
      page: {
        code: 'about_page',
        locale: 'ru',
        pageInfo: [
          {
            title: null,
            annotation: null,
            description: null
          }
        ]
      },
      params: {
        code: 'about_page',
        locale: this.$store.getters.getLang()
      }
    }
  },
  created() {
    this.getPage()
  },
  methods: {
    handleImageAdded: function(file, Editor, cursorLocation, resetUploader) {
      var formData = new FormData();
      formData.append('image', file);

      Image.post(
          data => {
            let url = 'http://89.219.20.138:16801' + data.imageRef
            Editor.insertEmbed(cursorLocation, 'image', url);
            resetUploader();
          },
          error => {
            console.log(error);
          },
          formData
      )
    },
    getPage () {
      Page.get(data => {
        this.page = data
      }, error => {
        this.$notify({
          group: 'notifiy',
          type:  'danger',
          text: error
        })
      }, this.params)
    },
    changePage () {
      Page.put(data => {
        this.getPage()
        this.$notify({group: 'notifiy', text: data})
      }, error => {
        this.$notify({group: 'notifiy', type:  'danger', text: error})
      }, this.page, this.params)
    },
    postPage () {
      Page.post(data => {
        this.getPage()
        this.$notify({
          group: 'notifiy',
          text: data
        })
      }, error => {
        this.$notify({
          group: 'notifiy',
          type:  'danger',
          text: error
        })
      }, this.page, this.params)
    }
  }
}
</script>
