<template>
  <div class="page-admin-articles">
    <admin-bar></admin-bar>
    <h2 class="admin-title">
      <span>Новости</span>
      <div class="search d-flex align-items-center">
        <form>
          <input type="text" placeholder="поиск">
          <button class="btn-main btn-main--blue">Найти</button>
        </form>
        <button @click="newArticle" class="btn-main btn-main--blue ml-4 d-flex align-items-center">
          <span>Добавить новость</span>
          <span class="fa fa-plus ml-4"></span>
        </button>
      </div>
    </h2>
    <div class="admin-form">
      <table v-if="news" class="table table-striped table-bordered">
        <thead>
        <tr>
          <th scope="col" width="50">Номер:</th>
          <th scope="col" width="350">Заголовок:</th>
          <th scope="col">Опубликована:</th>
          <th scope="col">Дата и время создания:</th>
          <th scope="col">Дата и время публикации:</th>
          <th scope="col" width="50">Смотреть:</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="article in news.result" :key="article.id">
          <th scope="row">{{article.noNumber}}</th>
          <td>{{article.newsHeader}}</td>
          <td>{{article.isPublished ? 'Да' : 'Нет' }}</td>
          <td>{{article.created}}</td>
          <td>{{article.lastUpdate}}</td>
          <td>
            <router-link class="fa fa-search"
                         :to="{name: 'AdminArticle', params: {id: article.id}}">
            </router-link>
          </td>
        </tr>
        </tbody>
      </table>

      <div class="my-line"></div>

      <div v-if="news && news.total_pages" class="pagination ml-auto mr-0 text-right">
          <span>
<!--            <span>«</span>-->
            <span @click="params.page  = i - 1" v-for="i in news.total_pages" :key="i" :class="i == params.page + 1 ? 'active' : ''">{{i}}</span>
            <!--            <span>»</span>-->
          </span>
      </div>
<!--      <pre>{{news}}</pre>-->

    </div>
  </div>
</template>
<script>
import AdminBar from '@/components/AdminBar.vue'
import News from "../../models/news";
export default {
  name: 'AdminArticles',
  components: { AdminBar },
  data () {
    return {
      news:  null,
      errors: null,
      params: {
        locale: this.$store.state.locale.lang,
        page: 0,
        size: 10
      }
    }
  },
  created() {
    this.getNews()
  },
  watch: {
    'params.page' () {
      this.getNews()
    },
    'params.locale' () {
      this.getNews()
    }
  },
  methods: {
    getNews () {
      News.all(data => {
        this.news = data
      }, errors => {
        this.errors = errors
      }, this.params)
    },
    newArticle () {
      News.post(data => {
        this.$router.push({name: 'AdminArticle', params: { id: data, new: 'true' }})
      }, errors => {
        this.$notify({
          group: 'notifiy',
          type: 'error',
          text: errors
        })
      })
    },
  }
}
</script>
<style lang="sass">
@import "../../sass/variables"
.page-admin-articles
  .table
    thead
      th
        border: 0
        padding-left: 0 !important
        padding-right: 0 !important
    tbody
      tr
        transition: .1s
        &:hover
          background-color: $blue !important
          color: white !important
          th
            color: white !important
    th
      font-size: 14px
      font-weight: 500
      line-height: 1.57
      color: #24262b
    tr, tr a
      color: #4e5053
      font-weight: normal
      th
        border-left: 0
      td:last-child
        border-right: 0 !important
    td,th
      padding: 15px 30px
  .table-bordered
    border: 0 !important
    td,
    th
      border-top: 0 !important
      border-bottom: 0 !important
  .table-striped tbody tr:nth-of-type(odd)
    background-color: white
</style>
