<template>
  <div class="page-admin-article">
    <admin-bar></admin-bar>
    <h2 class="admin-title">
      Страница новость
      <locale></locale>
    </h2>
    <form @submit.prevent="updateArticle" v-if="article" class="admin-form">
      <h3>Новость:</h3>
      <div class="form-group">
        <label>Заголовок:</label>
        <input v-model="article.newsInfo.header" type="text">
      </div>
      <div class="form-group">
        <label>Аннотация:</label>
        <input v-model="article.newsInfo.annotation" type="text">
      </div>
      <div class="form-group">
        <label>Картинка:</label>
        <input type="file" id="file" ref="file" @change="handleFileUpload()"/>
        <picture-input
            ref="pictureInput"
            width="450"
            height="150"
            margin="16"
            accept="image/jpeg,image/png"
            size="5"
            button-class="btn"
            :custom-strings="{
              upload: 'Загрузить изображение',
              drag: 'Загрузить изображение'
            }"
            @change="onChange">
        </picture-input>
      </div>
      <div class="form-group">
        <label>Описание:</label>
        <vue-editor id="editor" useCustomImageHandler @image-added="handleImageAdded" v-model = "article.newsInfo.opisanie"> </vue-editor>
      </div>
      <div class="form-group">
        <label>Опубликовать:</label>
        <label class="switch">
          <input v-model="article.isVisible" type="checkbox">
          <span class="slider round"></span>
        </label>
      </div>
<!--      <pre>{{article}}</pre>-->
      <div class="my-line"></div>
      <button class="btn-main btn-main--blue">Сохранить изменения</button>
    </form>
    <button @click="deleteArticle" class="btn-main bg-danger btn-danger mb-5">Удалить запись</button>
  </div>
</template>
<script>
  import AdminBar from '@/components/AdminBar.vue'
  import { VueEditor } from "vue2-editor";
  import News from "../../models/news";
  import Image from "../../models/image";
  export default {
    name: 'AdminArticle',
    components: { AdminBar, VueEditor },
    computed : {
      locale () {
        return this.$store.getters.getLang()
      }
    },
    data () {
      return {
        file: null,
        image: null,
        article: {
          locale : this.$store.getters.getLang(),
          isVisible: true,
          id : this.$route.params.id,
          newsInfo : {
            header : null,
            annotation : null,
            image_identifier : null,
            opisanie: null
          }
        },
        params: {
          locale: this.$store.getters.getLang()
        }
      }
    },
    watch: {
      'params.locale' () {
        this.getArticle()
      },
      locale () {
        this.params.locale = this.locale
        if (this.$route.params.new) {
          this.getArticle()
        }
      }
    },
    created() {
      if (this.$route.params.id && !this.$route.params.new) {
        this.getArticle()
      }
    },
    beforeDestroy () {
      if (this.article == {
        locale: this.$store.getters.getLang(),
        isVisible: true,
        id: this.$route.params.id,
        newsInfo: {
          header: null,
          annotation: null,
          image_identifier: null,
          opisanie: ''
        }
      }) {
        this.deleteArticle()
      }
    },
    methods: {
      handleFileUpload () {
        this.file = this.$refs.file.files[0]

        let formData = new FormData()
        formData.append('image', this.file)

        Image.post(data => {
          // let imageUrl = 'http://89.219.20.138:16801' + data.imageRef + '/' + data.name;
          console.log(data);
          Image.get(data => {
            console.log(data);
          }, error => {
            console.log(error);
          }, data.id)

        }, error => {
          console.log(error);
        }, formData)
      },
      onChange (image) {
        if (image) {
          this.image = image
        } else {
          console.log('a')
        }
      },
      getArticle () {
        News.show(data => {
          this.article = data
          if (!data.newsInfo) {
            this.article = {
              locale : this.$store.getters.getLang(),
              isVisible: true,
              id : this.$route.params.id,
              newsInfo : {
                header : null,
                annotation : null,
                image_identifier : null,
                opisanie: ''
              }
            }
          }
        }, errors => {
          this.errors = errors
        }, this.$route.params.id, this.params)
      },
      updateArticle () {
        this.article.locale = this.locale
        News.save(data => {
          this.$notify({
            group: 'notifiy',
            text: data
          })
          this.getArticle()
        }, errors => {
          this.$notify({
            group: 'notifiy',
            type: 'error',
            text: errors
          })
        }, this.article)
      },
      deleteArticle () {
        console.log(this.$route.params.id);
        News.delete(() => {
          this.$router.push({name: 'AdminArticles'})
        }, errors => {
          this.$notify({
            group: 'notifiy',
            type: 'error',
            text: errors
          })
        }, this.$route.params.id)
      },
      handleImageAdded: function(file, Editor, cursorLocation, resetUploader) {
        var formData = new FormData();
        formData.append('image', file);

        Image.post(
            data => {
              let url = 'http://89.219.20.138:16801' + data.imageRef
              Editor.insertEmbed(cursorLocation, 'image', url);
              resetUploader();
            },
            error => {
              console.log(error);
            },
            formData
        )
      }
    }
  }
</script>
<style lang="sass">
.page-admin-article
  input, textarea
    width: 100%
</style>
