<template>
  <div class="page-admin-borrower">
    <admin-bar></admin-bar>
    <h2 class="admin-title">
      Страница «Заемщик»
      <locale></locale>
    </h2>
    <form class="admin-form">
      <h3>Блок «Преимущества»</h3>
      <div class="form-group">
        <label>Заголовок:</label>
        <input type="text">
      </div>
      <div class="form-group">
        <label>Аннотация:</label>
        <input type="text">
      </div>

      <div class="my-line"></div>

      <div class="form-group">
        <label>Иконка:</label>
        <picture-input
            ref="pictureInput"
            width="450"
            height="150"
            margin="16"
            accept="image/jpeg,image/png"
            size="5"
            button-class="btn"
            :custom-strings="{
              upload: 'Загрузить изображение',
              drag: 'Загрузить изображение'
            }"
            @change="onChange">
        </picture-input>
      </div>
      <div class="form-group">
        <label>Заголовок:</label>
        <input type="text">
      </div>
      <div class="form-group">
        <label>Аннотация:</label>
        <input type="text">
      </div>

      <div class="my-line"></div>

      <div class="form-group">
        <label>Иконка:</label>
        <picture-input
            ref="pictureInput"
            width="450"
            height="150"
            margin="16"
            accept="image/jpeg,image/png"
            size="5"
            button-class="btn"
            :custom-strings="{
              upload: 'Загрузить изображение',
              drag: 'Загрузить изображение'
            }"
            @change="onChange">
        </picture-input>
      </div>
      <div class="form-group">
        <label>Заголовок:</label>
        <input type="text">
      </div>
      <div class="form-group">
        <label>Аннотация:</label>
        <input type="text">
      </div>
      <div class="my-line"></div>
      <button class="btn-main btn-main--blue">Добавить преимущество</button>
    </form>
    <form class="admin-form">
      <h3>Блок «Шаги»</h3>
      <div class="form-group">
        <label>Заголовок:</label>
        <input type="text">
      </div>
      <div class="form-group">
        <label>Аннотация:</label>
        <input type="text">
      </div>

      <div class="my-line"></div>

      <div class="form-group">
        <label>Иконка:</label>

      </div>
      <div class="form-group">
        <label>Заголовок:</label>
        <input type="text">
      </div>
      <div class="form-group">
        <label>Аннотация:</label>
        <input type="text">
      </div>

      <div class="my-line"></div>

      <div class="form-group">
        <label>Иконка:</label>

      </div>
      <div class="form-group">
        <label>Заголовок:</label>
        <input type="text">
      </div>
      <div class="form-group">
        <label>Аннотация:</label>
        <input type="text">
      </div>
      <div class="my-line"></div>
      <button class="btn-main btn-main--blue">Добавить шаги</button>
    </form>
    <form class="admin-form">
      <h3>Блок «Калькулятор»</h3>
      <div class="form-group">
        <label>Заголовок:</label>
        <input type="text">
      </div>
      <div class="form-group">
        <label>Аннотация:</label>
        <input type="text">
      </div>

      <div class="my-line"></div>

      <button class="btn-main btn-main--blue">Сохранить изменения</button>
    </form>
  </div>
</template>
<script>
  import AdminBar from '@/components/AdminBar.vue'
  export default {
    name: 'AdminBorrower',
    components: { AdminBar },
    data () {
      return {
        image: null
      }
    },
    methods: {
      onChange (image) {
        if (image) {
          this.image = image
        } else {
          console.log('a')
        }
      }
    }
  }
</script>
<style lang="sass">
.page-admin-borrower
  input, textarea
    width: 100%
</style>
