<template>
  <div class="page-admin-contacts">
    <admin-bar></admin-bar>
    <h2 class="admin-title">Страница «Контакты»</h2>
    <form @submit.prevent="changePage" class="admin-form">
      <template v-for="(item, index) in page.pageInfo">
        <div :key="index + '11'" class="form-group">
          <label>Данные:</label>
          <vue-editor id="editor" useCustomImageHandler @image-added="handleImageAdded" v-model="item.info"> </vue-editor>
        </div>
        <div :key="index + '21'" class="form-group">
          <label>Ссылка на карту:</label>
          <input v-model="item.link" type="text" class="">
        </div>
      </template>
      <div class="my-line"></div>
      <button class="btn-main btn-main--blue">Сохранить изменения</button>
    </form>
  </div>
</template>
<script>
import AdminBar from '@/components/AdminBar.vue'
import { VueEditor } from "vue2-editor";
import Page from "../../models/page";
import Image from "../../models/image";
export default {
  name: 'AdminContacts',
  components: { AdminBar, VueEditor },
  data () {
    return {
      page: {
        code: 'contacts_page',
        locale: 'ru',
        pageInfo: [
            {
              info: null,
              link: null
            }
        ]
      },
      params: {
        code: 'contacts_page',
        locale: this.$store.getters.getLang()
      }
    }
  },
  created() {
    this.getPage()
  },
  methods: {
    getPage () {
      Page.get(data => {
        this.page.pageInfo = data;
      }, error => {
        this.$notify({
          group: 'notifiy',
          type:  'danger',
          text: error
        })
      }, this.params)
    },
    changePage () {
      Page.put(data => {
        this.getPage()
        this.$notify({
          group: 'notifiy',
          text: data
        })
      }, error => {
        this.$notify({
          group: 'notifiy',
          type:  'danger',
          text: error
        })
      }, this.page, this.params)
    },
    postPage () {
      Page.post(data => {
        this.getPage()
        this.$notify({
          group: 'notifiy',
          text: data
        })
      }, error => {
        this.$notify({
          group: 'notifiy',
          type:  'danger',
          text: error
        })
      }, this.page, this.params)
    },
    handleImageAdded: function(file, Editor, cursorLocation, resetUploader) {
      var formData = new FormData();
      formData.append('image', file);

      Image.post(
          data => {
            let url = 'http://89.219.20.138:16801' + data.imageRef
            Editor.insertEmbed(cursorLocation, 'image', url);
            resetUploader();
          },
          error => {
            console.log(error);
          },
          formData
      )
    }
  }
}
</script>
<style lang="sass">

</style>
