<template>
  <div class="page-admin-contacts">
    <admin-bar></admin-bar>
    <h2 class="admin-title">Страница «Контакты»</h2>
    <form class="admin-form">
      <div class="form-group">
        <label>E-mail:</label>
        <input type="text">
      </div>
      <div class="form-group">
        <label>Номер сотовый:</label>
        <input type="text">
      </div>
      <div class="form-group">
        <label>Номер рабочий:</label>
        <input type="text">
      </div>
      <div class="form-group">
        <label>Название организации:</label>
        <input type="text">
      </div>
      <div class="form-group">
        <label>БИН организации:</label>
        <input type="text">
      </div>
      <div class="form-group">
        <label>Место нахождения:</label>
        <input type="text">
      </div>
      <div class="form-group">
        <label>Ссылка на карту:</label>
        <input type="text">
      </div>
      <div class="my-line"></div>
      <button class="btn-main btn-main--blue">Сохранить изменения</button>
    </form>
  </div>
</template>
<script>
import AdminBar from '@/components/AdminBar.vue'
export default {
  name: 'AdminContactsOld',
  components: { AdminBar },
  data () {
    return {
    }
  },
  mounted() {
  }
}
</script>
<style lang="sass">

</style>
