<template>
  <div class="page-admin-faq">
    <admin-bar></admin-bar>
    <h2 class="admin-title">Главная страница</h2>
    <form class="admin-form">
      <div class="form-group">
        <label>Заголовок:</label>
        <input type="text">
      </div>
      <div class="form-group">
        <label>Аннотация:</label>
        <input type="text">
      </div>

      <div class="my-line"></div>

      <div class="form-group">
        <label>Левый баннер (название роли):</label>
        <input type="text">
      </div>
      <div class="form-group">
        <label>Заголовок:</label>
        <input type="text">
      </div>
      <div class="form-group">
        <label>Описание:</label>
        <textarea  rows="10"></textarea>
      </div>

      <div class="my-line"></div>

      <div class="form-group">
        <label>Правый баннер (название роли):</label>
        <input type="text">
      </div>
      <div class="form-group">
        <label>Заголовок:</label>
        <input type="text">
      </div>
      <div class="form-group">
        <label>Описание:</label>
        <textarea  rows="10"></textarea>
      </div>

      <div class="my-line"></div>
      <button class="btn-main btn-main--blue">Сохранить изменения</button>
    </form>
  </div>
</template>
<script>
import AdminBar from '@/components/AdminBar.vue'
export default {
  name: 'AdminFAQ',
  components: { AdminBar },
}
</script>
<style lang="sass">
</style>
