<template>
  <div class="page-admin-articles">
    <admin-bar></admin-bar>
    <h2 class="admin-title">Новости</h2>
    <div class="admin-form">

      <table class="table table-striped table-bordered">
        <thead>
        <tr>
          <th scope="col">Название роли на русском:</th>
          <th scope="col">Название роли на казахском:</th>
          <th scope="col">Название роли на английском:</th>
          <th scope="col" width="50">Смотреть:</th>
          <th scope="col" width="50">Удалить:</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="i in 3" :key="i">
          <th scope="row">Инвестор</th>
          <td></td>
          <td></td>
          <td><router-link class="fa fa-search" :to="{name: 'AdminArticle'}"></router-link></td>
          <td><router-link class="fa fa-times" :to="{name: 'AdminArticle'}"></router-link></td>
        </tr>
        </tbody>
      </table>

      <div class="my-line"></div>

      <button class="btn-main btn-main--blue">Добавить роль</button>

      <div class="pagination ml-auto mr-0 text-right">
          <span>
            <span>«</span>
            <span class="active">1</span>
            <span>2</span>
            <span>3</span>
            <span>4</span>
            <span>»</span>
          </span>
      </div>
    </div>
  </div>
</template>
<script>
import AdminBar from '@/components/AdminBar.vue'
export default {
  name: 'AdminHelp',
  components: { AdminBar },
}
</script>
<style lang="sass">
@import "../../sass/variables"

</style>
