<template>
	<div class="page page-admin">
		<div class="">
			<start-admin></start-admin>
		</div>
		<div class="admin-content">
			<router-view></router-view>
		</div>
	</div>
</template>
<script>
import StartAdmin from "../../components/StartAdmin"
export default {
    components: { StartAdmin }
}
</script>
<style lang="sass">
.page-admin
	display: flex
	min-height: 100vh
</style>
