<template>
  <div class="page-admin-home">
    <admin-bar></admin-bar>
    <h2 class="admin-title">
      Главная страница
      <locale></locale>
    </h2>
    <form @submit.prevent="changePage" v-if="page.pageInfo" class="admin-form">
      <div class="form-group">
        <label>Заголовок:</label>
        <input v-model="page.pageInfo[1].title" type="text">
      </div>
      <div class="form-group">
        <label>Аннотация:</label>
        <input v-model="page.pageInfo[1].annotation" type="text">
      </div>

      <div class="my-line"></div>

      <div class="form-group">
        <label>Левый баннер (название роли):</label>
        <input v-model="page.pageInfo[2].role" type="text">
      </div>
      <div class="form-group">
        <label>Заголовок:</label>
        <input v-model="page.pageInfo[2].title" type="text">
      </div>
      <div class="form-group">
        <label>Описание:</label>
        <textarea v-model="page.pageInfo[2].description" rows="10"></textarea>
      </div>

      <div class="my-line"></div>

      <div class="form-group">
        <label>Правый баннер (название роли):</label>
        <input v-model="page.pageInfo[0].role" type="text">
      </div>
      <div class="form-group">
        <label>Заголовок:</label>
        <input v-model="page.pageInfo[0].title" type="text">
      </div>
      <div class="form-group">
        <label>Описание:</label>
        <textarea v-model="page.pageInfo[0].description" rows="10"></textarea>
      </div>
<!--      <pre>{{page}}</pre>-->
      <div class="my-line"></div>
      <button class="btn-main btn-main--blue">Сохранить изменения</button>
    </form>
  </div>
</template>
<script>
import AdminBar from '@/components/AdminBar.vue'
import Page from "../../models/page";
export default {
  name: 'AdminMain',
  components: { AdminBar },
  data () {
    return {
      change: true,
      page: {
        code: 'main_page',
        locale : this.$store.getters.getLang(),
        pageInfo: [
          {
            block: 'main',
            title: null,
            annotation: null,
          },
          {
            block: 'investment',
            role: null,
            title: null,
            description: null
          },
          {
            block: 'borrower',
            role: null,
            title: null,
            description: null
          }
        ]
      },
      params: {
        code: 'main_page',
        locale: this.$store.getters.getLang()
      }
    }
  },
  computed : {
    locale () {
      return this.$store.getters.getLang()
    }
  },
  watch: {
    locale () {
      this.params.locale = this.locale
      console.log(this.params)
      this.getPage()
    }
  },
  created() {
    this.getPage()
  },
  methods: {
    getPage () {
      Page.get(data => {
        this.page.pageInfo = data;
      }, error => {
        console.log(error);
        // this.$notify({group: 'notifiy', type:  'danger', text: error})
        this.change = false
      }, this.params)
    },
    changePage () {
      Page.put(data => {
        this.getPage()
        this.$notify({group: 'notifiy', text: data})
      }, error => {
        this.$notify({group: 'notifiy', type:  'danger', text: error})
      }, this.page, this.params)
    },
    postPage () {
      Page.post(data => {
        this.getPage()
        this.$notify({group: 'notifiy', text: data})
      }, error => {
        this.$notify({group: 'notifiy', type:  'danger', text: error})
      }, this.page, this.params)
    }
  }
}
</script>
<style lang="sass">
.page-admin-home
  input, textarea
    width: 100%
</style>
