<template>
  <div class="page-admin-about">
    <admin-bar></admin-bar>
    <h2 class="admin-title">Профиль</h2>
    <form @submit.prevent="save" v-if="user" class="admin-form">
      <h3>Личные данные:</h3>
<!--      <pre>{{user}}</pre>-->
      <div class="form-group">
        <label>Роль:</label>
        <input v-for="role in user.roles" :key="role.id + 14" v-model="role.code" type="text" disabled>
      </div>
      <div class="form-group">
        <label>Фамилия:</label>
        <input v-model="user.lastName" type="text">
      </div>
      <div class="form-group">
        <label>Имя:</label>
        <input v-model="user.firstName" type="text">
      </div>
      <div class="form-group">
        <label>Отчество:</label>
        <input v-model="user.patronymic" type="text">
      </div>
      <div class="form-group">
        <label>ИИН:</label>
        <input v-model="user.iin" type="text">
      </div>
      <div class="form-group">
        <label>Телефон:</label>
        <input v-model="user.phone" type="text">
      </div>
      <div class="form-group">
        <label>E-mail:</label>
        <input v-model="user.email" type="text" disabled>
      </div>
      <div class="my-line"></div>
      <button type="submit" class="btn-main btn-main--blue">Сохранить изменения</button>
    </form>
    <form @submit.prevent="changePassword" v-if="user" class="admin-form">
      <h3>Новый пароль:</h3>
      <div class="form-group">
        <label>Старый пароль:</label>
        <input v-model="password.oldPassword" type="password">
      </div>
      <div class="form-group">
        <label>Новый пароль:</label>
        <input v-model="password.newPassword" type="password">
      </div>
      <div class="form-group">
        <label>Подтвердите новый пароль:</label>
        <input v-model="confirmPassword" type="password">
      </div>
      <div class="my-line"></div>
      <button type="submit" class="btn-main btn-main--blue">Сохранить изменения</button>
    </form>
  </div>
</template>
<script>
import AdminBar from '@/components/AdminBar.vue'
import Auth from "../../models/auth";
export default {
  name: 'AdminProfile',
  components: { AdminBar },
  data () {
    return {
      user: null,
      response: null,
      confirmPassword: null,
      errors: null,
      password: {
        id: null,
        oldPassword: null,
        newPassword : null
      }
    }
  },
  created() {
    this.getProfile()
  },
  watch: {
    confirmPassword () {
      if (this.password.newPassword.length == this.confirmPassword.length &&
          this.password.newPassword !== this.confirmPassword) {
        this.errors = 'Не совподают пароли'
        this.$notify({
          group: 'notifiy',
          type: 'error',
          text: this.errors
        })
      }
    }
  },
  methods: {
    getProfile() {
      Auth.me(data => {
        this.user = data
        this.password.id = data.id
      }, errors => {
        this.errors = errors
      })
    },
    save() {
      Auth.save(data => {
        this.response = data
        this.$notify({
          group: 'notifiy',
          text: data
        })
        this.getProfile()
      }, errors => {
        this.response = errors
      }, this.user)
    },
    changePassword() {
      Auth.password(data => {
        this.response = data
        this.$notify({
          group: 'notifiy',
          text: data
        })
      }, errors => {
        this.response = errors
      }, this.password)
    },
  }
}
</script>
