<template>
  <div class="page-admin-request">
    <admin-bar></admin-bar>
    <h2 class="admin-title">Страница «Обращение»</h2>
    <form @submit.prevent="postAppeal" v-if="appeal" class="admin-form">
<!--      <pre>{{appeal}}</pre>-->
<!--      <pre>{{errors}}</pre>-->
      <h3>Обращение: {{appeal.senderName}}</h3>
      <div class="form-group">
        <label>
          <span>{{appeal.senderName}}</span>
          <span>{{appeal.created}}</span>
        </label>
        <input type="text" disabled v-model="appeal.senderMessage">
      </div>
      <div class="text-right">
        <div v-if="appeal.answererName" class="form-group d-inline-block">
          <label>
            <span>{{appeal.answererName}}</span>
            <span>{{appeal.lastUpdate}}</span>
          </label>
          <div class="textarea" v-if="appeal.answererMessage" v-html="appeal.answererMessage"></div>
        </div>
      </div>
      <div class="my-line"></div>
<!--      <pre>{{answer}}</pre>-->
      <div v-if="!appeal.answererName" class="form-group w-100">
        <label>Описание:</label>
        <editor
            v-model = "answer.message"
            :init="{
             height: 400,
             menubar: false,
             plugins: [
               'advlist autolink lists link image charmap print preview anchor',
               'searchreplace visualblocks code fullscreen',
               'insertdatetime media table paste code help wordcount'
             ],
             toolbar:
               'undo redo | formatselect | bold italic backcolor | \
               alignleft aligncenter alignright alignjustify | \
               bullist numlist outdent indent | removeformat | help'
           }"
        />
      </div>

      <button v-if="!appeal.answererName" class="btn-main btn-main--blue">Отправить сообщение</button>
    </form>
  </div>
</template>
<script>
  import Editor from '@tinymce/tinymce-vue'
  import AdminBar from '@/components/AdminBar.vue'
  import Appeal from "../../models/appeal";
  export default {
    name: 'AdminRequest',
    components: { AdminBar, 'editor': Editor },
    data () {
      return {
        image: null,
        response: null,
        answer: {
            id: this.$route.params.id,
            name: null,
            message: null
        },
        appeal: {
        },
        params: {
          locale: 'ru'
        },
        errors: null
      }
    },
    mounted() {
        setTimeout(() => {
            this.answer.name = this.$store.state.auth.user.firstName + ' ' + this.$store.state.auth.user.lastName
        }, 2000)
    },
    created() {
      this.getAppeal()
    },
    methods: {
      onChange (image) {
        if (image) {
          this.image = image
        } else {
          console.log('a')
        }
      },
      getAppeal () {
        Appeal.show(data => {
          this.appeal = data
        }, errors => {
          this.errors = errors
        }, this.$route.params.id, this.params)
      },
      postAppeal () {
          Appeal.post(data => {
              this.$notify({
                  group: 'notifiy',
                  text: data
              })
              this.getAppeal()
          }, errors => {
              this.$notify({
                  group: 'notifiy',
                  type: 'error',
                  text: errors
              })
          }, this.answer)
      }
    }
  }
</script>
<style lang="sass">
.page-admin-request
  input, .textarea
    width: 100%
  .form-group
    width: 500px
  label
    justify-content: space-between
    width: 100%
    align-items: center
    display: flex
</style>
