<template>
  <div class="page-admin-requests">
    <admin-bar></admin-bar>
    <h2 class="admin-title">Страница «Обращения»</h2>
    <div class="admin-form">
      <h3>Все обращения:</h3>
<!--      <pre>{{appeals}}</pre>-->
      <table v-if="appeals" class="table table-striped table-bordered">
        <thead>
        <tr>
          <th scope="col" width="50">Номер:</th>
          <th scope="col">Ф.И.О.</th>
          <th scope="col">E-mail:</th>
          <th scope="col">Текст сообщения:</th>
          <th scope="col">Дата изменения:</th>
          <th scope="col" width="50">Смотреть:</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="appeal in appeals.result" :key="appeal.id">
          <th scope="row">{{appeal.noNumber}}</th>
          <td>{{appeal.senderName}}</td>
          <td>{{appeal.senderEmail}}</td>
          <td v-html="appeal.answererMessage"></td>
          <td>{{appeal.created}}</td>
          <td><router-link class="fa fa-search"
                           :to="{name: 'AdminRequest', params: {id: appeal.id}}"></router-link></td>
        </tr>
        </tbody>
      </table>

      <div class="my-line"></div>

      <div v-if="appeals && appeals.total_pages" class="pagination ml-auto mr-0 text-right">
          <span>
<!--            <span>«</span>-->
            <span @click="params.page  = i - 1" v-for="i in appeals.total_pages" :key="i" :class="i == params.page + 1 ? 'active' : ''">{{i}}</span>
<!--            <span>»</span>-->
          </span>
      </div>
    </div>
  </div>
</template>
<script>
import AdminBar from '@/components/AdminBar.vue'
import Appeal from "../../models/appeal";
export default {
  name: 'AdminRequests',
  components: { AdminBar },
  data () {
    return {
      appeals:  null,
      errors: null,
      params: {
        locale: this.$store.state.locale.lang,
        page: 0,
        size: 10
      }
    }
  },
  created() {
    this.getAppeals()
  },
  watch: {
    'params.page' () {
      this.getAppeals()
    },
    'params.locale' () {
      this.getAppeals()
    }
  },
  methods: {
    getAppeals () {
      Appeal.all(data => {
        this.appeals = data
      }, errors => {
        this.errors = errors
      }, this.params)
    }
  }
}
</script>
